<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Forgot Password</span><!-- Üstte gözüken ve forgot password yazısı yazan top page çubuk -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPasswordForm"><!-- Form Grubu seçili -->
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex> <!-- Sadece bir tane form field var -->
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid"> <!-- Triggered olduğunda veya regexlere uymadığında hata veriyor -->
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory</span><!-- Hata metinleri -->
          <span *ngIf="forgotPasswordForm.controls.email.errors.invalid">Invalid email</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <!-- Aksiyon butonları -->
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Send Password</button>
  <!-- Request'i gönderme butonu, gerekli şartlar sağlanmadığı sürece disable durumda -->
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  <!-- Dialog kapatma butonu -->
</mat-dialog-actions>
