.mat-toolbar{
  width: auto;
  margin-bottom: 10px;
}

.title-center{
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

mat-form-field{
  padding: 5px;
}

.submit-button{
  margin:20px;
}
